* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightslategrey;
}

.header {
    margin: 32px 0px;
    font-size: 48px;
    font-weight: bolder;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
}

/* Settings Pane */
.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

.input {
    text-align: center;
}

.sizeInput {
    padding: 3px 4px;
    font-size: 16px;
}

.sizeSubmit {
    margin-left: auto;
    padding: 5px 16px;
}

.input p, .input label {
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: bold;
}

.button {
    width: 300px;
    padding: 5px 32px;
    border-radius: 12px;
    font-size: 18px;
}

.button-selectable.selected {
    color: white;
    background-color: rgb(43, 43, 43);
    border-color: white;
}

/* Grid */
.container-grid {
    display: grid;
    border: 2px solid black;
}

.container-grid .grid {
    background-color: white;
    border: 1px solid rgb(156,156,156);
}

.container-grid .grid.transparent {
    border: none;
}